# LDAP server secrets file, don't commit to version control!

# Auth token, used by Spaceport to authenticate
# Set this to random characters
# For example, use the first output of this:
# head /dev/urandom | sha1sum
AUTH_TOKEN = ''

LDAP_USERNAME = ''
LDAP_PASSWORD = ''
