{% extends "base.html" %}

{% block title %}{{ article.title|striptags  }} | Protospace Guide Book{% endblock %}

{% block head %}
{{ super() }}

	{% if article.date %}
		<meta name="date" content="{{article.date}}" />
	{% endif %}

	{% if article.summary %}
		<meta name="description" content="{{article.summary|striptags|escape|safe}}" />
		<meta name="summary" content="{{article.summary|striptags|escape|safe}}" />
	{% endif %}

	{% if article.category %}
		<meta name="category" content="guide" />
	{% endif %}

	{% for tag in article.tags %}
		<meta name="tags" content="{{tag}}" />
	{% endfor %}

{% endblock %}

{% block content %}
			<div class="content">
					<h1>{{ article.title }}</h1>

					<main>
{{ article.content }}
					</main>

					<div class="article-hr">
						<hr />
					</div>

					{% if article.category == 'recommended' %}
						<div class="nav">
							<div class="nav-prev">
								{% if article.prev_article_in_category %}
									<a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
										← {{ article.prev_article_in_category.title }}
									</a>
								{% else %}
									<b>Navigation</b>
								{% endif %}
							</div>

							<div class="nav-next">
								{% if article.next_article_in_category %}
									<a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
										{{ article.next_article_in_category.title }} →
									</a>
								{% endif %}
							</div>
						</div>
					{% endif %}

					<p class="metadata">
						{% if article.modified %}
							Modified {{ article.locale_modified }}
						{% endif %}
					</p>

			</div>
{% endblock %}

