<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<meta name="author" content="Protospace" />

		<title>{% block title %}Protospace Guide Book{% endblock title %}</title>

		{% endblock head %}

		<link rel="apple-touch-icon" sizes="180x180" href="{{SITEURL}}/theme/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{SITEURL}}/theme/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="{{SITEURL}}/theme/favicon-16x16.png">
		<link rel="manifest" href="{{SITEURL}}/theme/site.webmanifest">
		<link rel="mask-icon" href="{{SITEURL}}/theme/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="stylesheet" href="{{SITEURL}}/theme/protofont-embedded.css">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" href="{{SITEURL}}/theme/semantic/dist/semantic.min.css">
		<script src="{{SITEURL}}/theme/jquery-3.1.1.min.js"></script>
		<script src="{{SITEURL}}/theme/semantic/dist/semantic.min.js"></script>

		<style>
			{% include 'style.css' %}

		</style>
	</head>

	<body>
		<div id="root">
			<div>
				<div class="content-wrap">
					<div class="content-wrap-inside">

						<div class="ui container">
							<div class="hero"><a href="/"><img src="{{SITEURL}}/theme/logo-long.svg" class="logo-long"></a></div>
						</div>

						<div class="ui menu">
							<div class="ui container">
								<a class="item" href="/">Portal</a>
								<a class="item" href="/guide/protospace-guide-book/">Guide</a>
								<a class="item" href="/guide/">Index</a>
							</div>
						</div>

						<div class="topPadding">
							<div class="ui text container">

			{% block content %}
			{% endblock %}
							</div>
						</div>
					</div>

					<div class="footer">
						<div class="ui container footer-content">
							<p><img alt="site logo" src="{{SITEURL}}/theme/logo-short.svg" class="logo"></p>
							<p class="text">Contact us: <a href="mailto:info@protospace.ca" target="_blank" rel="noopener noreferrer">info@protospace.ca</a></p>
							<p class="text">Created and hosted by Protospace members for Protospace members.</p>
							<p class="text">Spaceport is free and open-source software. <a href="https://github.com/Protospace/spaceport" target="_blank" rel="noopener noreferrer">View the source code and license on GitHub.</a> </p>
							<p>© 2020-2024 Calgary Protospace Ltd.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
			$('.ui.dropdown').dropdown();
		</script>
	</body>
</html>
		
