blinker==1.4
commonmark==0.9.1
docutils==0.18.1
feedgenerator==2.0.0
Jinja2==3.1.2
Markdown==3.3.6
MarkupSafe==2.1.1
pelican==4.7.2
pelican-linkclass==2.0.2
pelican-obsidian @ git+https://git.tannercollin.com/tanner/pelican-obsidian.git@8e7f80fa2f5c37f0227d676af4aa435ba11b8f13
Pygments==2.12.0
python-dateutil==2.8.2
pytz==2022.1
rich==12.3.0
six==1.16.0
Unidecode==1.3.4
