# Spaceport secrets file, don't commit to version control!

# /ipn/ route obfuscation
# Set this to random characters
# For example, use the output of this:
# head /dev/urandom | base32 | head -c 16
IPN_RANDOM = ''

# Django secret key
# Set this to random characters
# For example, use the output of this:
# head /dev/urandom | base64 | head -c 50
DJANGO_SECRET_KEY = ''
# Warning
# Keep this value secret.
# Running Django with a known SECRET_KEY defeats many of Django’s security
# protections, and can lead to privilege escalation and remote code execution
# vulnerabilities.

# LDAP API url
# should contain the IP and port of the script and machine connected over VPN
# with trailing slash
LDAP_API_URL = ''

# LDAP API key
# should be equal to the auth token value set in
# spaceport/ldapserver/secrets.py
LDAP_API_KEY = ''
