# Spaceport secrets file, don't commit to version control!

# Set this to random characters so the PayPal IPN POST route is unguessable
# For example, use the output of this:
# head /dev/urandom | md5sum
IPN_RANDOM = ''
