# Auth server secrets file, don't commit to version control!

# Auth token, used by Spaceport to authenticate
# Set this to random characters
# For example, use the first output of this:
# head /dev/urandom | sha1sum
AUTH_TOKEN = ''

# Absolute path of Mediawiki maintenance directory
# Probably:
# /var/www/wiki/maintenance
WIKI_MAINTENANCE = ''

# The ID of the Docker container.
# Find it with docker ps
# Probably something like:
# 9c81ac530cdd
DISCOURSE_CONTAINER = ''

# API key created here:
# https://forum.protospace.ca/admin/api/keys
DISCOURSE_API_KEY = ''

# Username who created the API key
DISCOURSE_API_USER = ''
