.title,
.button,
.stat-box {
	font-family: monospace !important;
}

.ui-container {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 4;
	display: flex;
	align-items: center;
	pointer-events: none;
}

.title {
	color: white;
	border: 1px solid white;
	padding: 10px 15px;
	font-size: 1.2em;
	font-weight: bold;
}

.button {
	background-color: white;
	color: black;
	border: 1px solid white;
	padding: 10px 15px;
	font-size: 1.2em;
	cursor: pointer;
	margin-left: -1px;
}

.stats-container {
	position: fixed;
	top: 64px;
	left: 20px;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
}

.stat-box {
	border: 1px solid white;
	padding: 5px 10px;
	color: white;
	text-align: left;
	white-space: nowrap;
	margin: -1px 0 0 -1px;
	background-color: rgba(0, 0, 0, 0.5);
}

.stat-row {
	display: flex;
	flex-wrap: wrap;
	padding: 1px 0 0 1px;
}

.stats-container > .stat-row + .stat-row,
.bottom-stats-container > .stat-row + .stat-row {
	margin-top: -1px;
}

.stat-label {
	font-size: 0.7em;
}

.stat-value {
	font-size: 1em;
}

.time-ago {
	font-size: 1em;
}

.bottom-stats-container {
	position: fixed;
	bottom: 20px;
	left: 20px;
	z-index: 4;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	pointer-events: none;
}

.bottom-right-container {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 4;
	pointer-events: none;
}

.globe-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 3;
}

.globe-error-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	z-index: 3;
}

@media (max-width: 767px) {
	.ui-container {
		top: 10px;
		left: 10px;
	}
	.stats-container {
		top: 54px;
		left: 10px;
	}
	.bottom-stats-container {
		bottom: 10px;
		left: 10px;
	}
	.bottom-right-container {
		bottom: 10px;
		right: 10px;
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: #222;
	color: #ddd;
	padding: 0px 20px;
	border-radius: 5px;
	max-width: 1200px;
	width: 90%;
	max-height: 90vh;
	overflow-y: auto;
	position: relative;
	line-height: 1.6;
	border: 1px solid #444;
}

.modal-content h1, .modal-content h2, .modal-content h3 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.modal-content p {
	margin-bottom: 1em;
}

.modal-content img {
	width: 100%;
	max-width: 30rem;
}

.modal-content a {
	color: #61dafb;
	text-decoration: none;
	overflow-wrap: anywhere;
	word-break: break-word;
}

.modal-content a:hover {
	text-decoration: underline;
}

.modal-content code {
	background-color: #333;
	color: #eee;
	padding: 2px 4px;
	border-radius: 3px;
}

.modal-content pre {
	background-color: #333;
	color: #eee;
	padding: 10px;
	border-radius: 3px;
	overflow-x: auto;
}

.modal-close-button {
	position: absolute;
	top: 0px;
	right: 10px;
	background: none;
	border: none;
	font-size: 3rem;
	cursor: pointer;
	color: #aaa;
}

.modal-close-button:hover {
	color: #fff;
}

.modal-content .mod-header.mod-ui,
.modal-content .collapse-indicator {
	display: none;
}
